<div class="h-full flex gap-2">
  @if (showCategoryList()) { @let activeIndex = selectedCategoryIndex();
  <div class="flex h-full flex-col gap-2 bg-primary bg-opacity-10">
    @for (category of categories(); track category.id; let idx = $index) {
    <button
      type="button"
      class="btn w-16 h-16 p-0 tooltip tooltip-right"
      [ngClass]="{
        'btn-ghost': idx !== activeIndex,
        'btn-active': idx === activeIndex
      }"
      [attr.data-tip]="category.name"
      (click)="handleSelectCategory(category)"
    >
      <img class="block w-full h-full" [src]="category.img" />
    </button>
    }
    <button
      type="button"
      class="flex items-center btn btn-ghost w-16 h-16 tooltip tooltip-right"
      [attr.data-tip]="'New category'"
      (click)="newCategory()"
    >
      <lucide-icon [img]="icons.Plus" />
    </button>
  </div>
  } @if (viewService.homeState() === HomeViewState.ProfileList) {
  <profile-list />
  } @else if (viewService.homeState() === HomeViewState.ProfileEdit) {
  <profile [profile]="profileService.selectedProfile()" />
  } @else if (viewService.homeState() === HomeViewState.CategoryEdit) {
  <category [category]="categoryService.selectedCategory()" />
  }
</div>
