<div class="relative w-full flex flex-col gap-1">
  @let k = key(); @let v = value(); @for (pair of templateValues(); track pair)
  {
  <div class="input w-full flex items-center gap-1 px-1">
    <input
      class="font-mono"
      [placeholder]="keyPlaceholder()"
      [value]="pair[k]"
      (change)="handleKeyChange($index, $any($event.target).value)"
    />
    @if (valueType() === 'text') {
    <input
      class="font-mono"
      [placeholder]="valuePlaceholder()"
      [value]="pair[v]"
      (change)="handleValueChange($index, $any($event.target).value)"
    />
    } @else {
    <file-input
      styleInput="false"
      [placeholder]="valuePlaceholder()"
      [value]="pair[v]"
      (valueChange)="handleValueChange($index, $event)"
    />
    } @if (reorder()) {
    <button
      type="button"
      class="btn btn-ghost btn-xs"
      (click)="handleReorderUp($index)"
    >
      <lucide-icon class="h-4 w-4" [img]="icons.ArrowUp" />
    </button>
    <button
      type="button"
      class="btn btn-ghost btn-xs"
      (click)="handleReorderDown($index)"
    >
      <lucide-icon class="h-4 w-4" [img]="icons.ArrowDown" />
    </button>
    } @if (removable()) {
    <button
      type="button"
      class="btn btn-ghost btn-xs"
      (click)="handleRemove($index)"
    >
      <lucide-icon class="h-4 w-4" [img]="icons.Trash" />
    </button>
    }
  </div>
  }
  <button
    type="button"
    class="btn btn-primary btn-sm tooltip self-end"
    (click)="handleAdd()"
    data-tip="Add var"
  >
    <lucide-icon [img]="icons.Plus" />
  </button>
</div>
