<form-section label="Settings">
  <form class="min-w-[30rem]" [formGroup]="settingsForm">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Appearance</legend>
      <label class="fieldset-label" for="theme-select">Theme</label>
      <select id="theme-select" class="select" formControlName="theme">
        <option [ngValue]="null">Default</option>
        @for (theme of themeOptions; track theme[0]) {
        <option [ngValue]="theme[0]">{{ theme[1] }}</option>
        }
      </select>
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Integrations</legend>
      <label class="fieldset-label" for="steamgriddb-api-input"
        >SteamGridDB API key</label
      >
      <input
        id="steamgriddb-api-input"
        class="input"
        type="text"
        formControlName="steamGridApiKey"
      />
      <label class="fieldset-label" for="deutex-path-input">
        DeuTex path
      </label>
      <file-input
        class="input"
        inputId="deutex-path-input"
        formControlName="deutexPath"
        file="true"
        directory="false"
      />
      <label class="fieldset-label" for="temp-data-path-input">
        Temporary Data Path
      </label>
      <file-input
        class="input"
        inputId="temp-data-path-input"
        formControlName="tempDataPath"
        file="false"
        directory="true"
      />
      <p class="label">
        A bug in Deutex prevents extracting graphics to paths longer than 80
        characters; it may be beneficial to select a short path elsewhere for
        these files.
      </p>
      <div class="flex gap-2 items-center">
        @let status = clearDataStatus();
        <button
          type="button"
          class="btn"
          [ngClass]="{
            'btn-warning': status !== 'CLEARED',
            'btn-success': status === 'CLEARED'
          }"
          (click)="handleClearDataDir()"
        >
          Clear temp data
        </button>
        @if (clearDataStatus(); as status) { @switch (status) { @case
        ('CLEARING') {
        <span class="loading loading-spinner loading-sm"></span>
        } @case ('CLEARED') {
        <lucide-angular [img]="icons.Check" />
        } @case ('ERROR') {
        <lucide-angular [img]="icons.AlertTriangle" />
        } } }
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Arachnotron</legend>
      <label class="fieldset-label" for="arachnotron-path-input"
        >Arachnotron path</label
      >
      <div class="flex gap-1">
        <div class="input">
          <file-input
            class="grow"
            id="arachnotron-path-input"
            formControlName="importPath"
            file="false"
            directory="true"
            reorder="false"
            removable="false"
          />
        </div>
        <button type="button" class="btn" (click)="startImport()">
          Import
        </button>
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Profile global settings</legend>
      <span class="fieldset-label pl-4">Default CVARs</span>
      <key-value-list
        key="var"
        withId="false"
        addLabel="Add var"
        keyLabel="Variable"
        valueLabel="Value"
        [values]="defaultCvars()"
        (valueChange)="handleCvarChange($event)"
      />
    </fieldset>
  </form>
</form-section>
<gamepad-tester />
