<table
  class="table table-zebra"
  (dragover)="handleDragOver($event)"
  (dragleave)="handleDragOut()"
  (drop)="handleDrop($event)"
>
  <thead>
    <tr>
      @if (selectable()) {
      <th><!-- Select --></th>
      }
      <th>Path</th>
      <th><!-- Actions --></th>
    </tr>
  </thead>
  <tbody>
    @for(path of values(); track path) {
    <tr>
      @if (selectable()) {
      <td>
        <input
          type="radio"
          class="radio"
          [name]="radioName"
          (change)="handleSelect($index)"
        />
      </td>
      }
      <td class="w-full">
        <file-input
          [value]="path"
          [controls]="inputControls"
          (valueChange)="handleChange($index, $event)"
        />
      </td>
      <td class="whitespace-nowrap">
        <file-input-controls
          #inputControls
          reorder="true"
          removable="true"
          (reorderUp)="handleReorderUp($index)"
          (reorderDown)="handleReorderDown($index)"
          (remove)="handleRemove($index)"
        />
      </td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      @if (selectable()) {
      <td><!-- empty --></td>
      }
      <td>
        <!-- empty -->
      </td>
      <td class="text-end">
        <button
          type="button"
          class="btn btn-primary btn-square tooltip"
          (click)="handleAdd()"
          data-tip="Add file"
        >
          <lucide-icon [img]="icons.Plus" />
        </button>
      </td>
    </tr>
  </tfoot>
</table>
<div
  class="absolute flex justify-center items-center h-full w-full glass top-0 left-0 pointer-events-none transition-all"
  [class]="{ 'opacity-0': !dragging(), 'opacity-100': dragging() }"
>
  Drop Files
</div>
