<div class="relative flex flex-col items-end gap-1">
  <select class="select flex-grow" (change)="handleAdd($event)">
    <option disabled selected>Select category</option>
    @for (option of availableOptions(); track option) {
    <option value="{{ option.value }}">{{ option.label }}</option>
    }
  </select>
  @for (value of displayValues(); track value) {
  <div class="input inline-flex items-center gap-1 px-1 flex-grow">
    <span>{{ value }}</span>
    @if (reorder()) {
    <button
      type="button"
      class="btn btn-ghost btn-xs"
      (click)="handleReorderUp($index)"
    >
      <lucide-icon class="h-4 w-4" [img]="icons.ArrowUpIcon" />
    </button>
    <button
      type="button"
      class="btn btn-ghost btn-xs"
      (click)="handleReorderDown($index)"
    >
      <lucide-icon class="h-4 w-4" [img]="icons.ArrowDownIcon" />
    </button>
    } @if (removable()) {
    <button
      type="button"
      class="btn btn-ghost btn-xs"
      (click)="handleRemove($index)"
    >
      <lucide-icon class="h-4 w-4" [img]="icons.TrashIcon" />
    </button>
    }
  </div>
  }
</div>
