<table class="table table-zebra">
  <thead>
    <tr>
      <th>{{ keyLabel() }}</th>
      <th>{{ valueLabel() }}</th>
      <th><!-- Actions --></th>
    </tr>
  </thead>
  <tbody>
    @let k = key(); @let v = value(); @for (pair of templateValues(); track
    $index) {
    <tr class="w-full">
      <td [ngStyle]="{ width: keyColumnWidth() }">
        <input
          class="input w-full"
          [ngClass]="{ 'font-mono': keyMono() }"
          [placeholder]="keyPlaceholder()"
          [value]="pair[k]"
          (change)="handleKeyChange($index, $any($event.target).value)"
        />
      </td>
      <td class="w-full whitespace-nowrap">
        @if (valueType() === 'text') {
        <input
          class="input w-full"
          [ngClass]="{ 'font-mono': valueMono() }"
          [placeholder]="valuePlaceholder()"
          [value]="pair[v]"
          (change)="handleValueChange($index, $any($event.target).value)"
        />
        } @else {
        <file-input
          class="input w-full"
          [placeholder]="valuePlaceholder()"
          [value]="pair[v]"
          (valueChange)="handleValueChange($index, $event)"
        />
        }
      </td>
      <td class="whitespace-nowrap">
        @if (reorder()) {
        <button
          type="button"
          class="btn btn-ghost btn-square"
          (click)="handleReorderUp($index)"
        >
          <lucide-icon class="h-4 w-4" [img]="icons.ArrowUp" />
        </button>
        <button
          type="button"
          class="btn btn-ghost btn-square"
          (click)="handleReorderDown($index)"
        >
          <lucide-icon class="h-4 w-4" [img]="icons.ArrowDown" />
        </button>
        } @if (removable()) {
        <button
          type="button"
          class="btn btn-ghost btn-square"
          (click)="handleRemove($index)"
        >
          <lucide-icon class="h-4 w-4" [img]="icons.Trash" />
        </button>
        }
      </td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td class="text-end">
        <button
          type="button"
          class="btn btn-primary btn-square tooltip"
          (click)="handleAdd()"
          [attr.data-tip]="addLabel()"
        >
          <lucide-icon [img]="icons.Plus" />
        </button>
      </td>
    </tr>
  </tfoot>
</table>
