<div
  class="px-2 relative border-2 border-primary"
  (dragover)="handleDragOver($event)"
  (dragleave)="handleDragOut()"
  (drop)="handleDrop($event)"
>
  @for (path of filePaths().controls; track $index) {
  <file-input
    reorder="true"
    removable="true"
    [formControl]="path"
    (reorderUp)="handleReorderUp($index)"
    (reorderDown)="handleReorderDown($index)"
    (remove)="handleRemove($index)"
  />
  }
  <button type="button" class="btn btn-primary" (click)="handleAdd()">
    <lucide-icon [img]="icons.PlusIcon" />
  </button>
  <div
    class="absolute flex justify-center items-center h-full w-full glass top-0 left-0 pointer-events-none transition-all"
    [class]="{ 'opacity-0': !dragging(), 'opacity-100': dragging() }"
  >
    Drop Files
  </div>
</div>
