@if (file()) {
  <button
    type="button"
    class="btn btn-ghost btn-square"
    (click)="selectFile.emit()"
  >
    <svg class="h-4 w-4" lucideFile></svg>
  </button>
}
@if (directory()) {
  <button
    type="button"
    class="btn btn-ghost btn-square"
    (click)="selectDirectory.emit()"
  >
    <svg class="h-4 w-4" lucideFolder></svg>
  </button>
}
@if (web()) {
  <button
    type="button"
    class="btn btn-ghost btn-square"
    (click)="webClick.emit()"
  >
    <svg class="h-4 w-4" lucideGlobe></svg>
  </button>
}
@if (reorder()) {
  <button
    type="button"
    class="btn btn-ghost btn-square"
    (click)="reorderUp.emit()"
  >
    <svg class="h-4 w-4" lucideArrowUp></svg>
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-square"
    (click)="reorderDown.emit()"
  >
    <svg class="h-4 w-4" lucideArrowDown></svg>
  </button>
}
@if (removable()) {
  <button
    type="button"
    class="btn btn-ghost btn-square"
    (click)="remove.emit()"
  >
    <svg class="h-4 w-4" lucideTrash></svg>
  </button>
}
