<form-section label="Doom Engines">
  <div class="flex flex-col gap-2">
    @for (engine of engines(); track engine.id) {
    <div class="flex gap-1 items-center">
      <input
        type="text"
        class="input input-bordered grow"
        placeholder="Engine"
        [value]="engine.name"
        (change)="handleNameChange($any($event.target).value, engine.id)"
      />
      <div class="input">
        <file-input
          class="grow"
          directory="false"
          reorder="false"
          removable="false"
          placeholder="Path"
          [value]="engine.path"
          (valueChange)="handlePathChange($event, engine.id)"
        />
      </div>
      <div class="input">
        <file-input
          class="grow"
          directory="false"
          reorder="false"
          removable="true"
          placeholder="Config file"
          [value]="engine.config"
          (valueChange)="handleConfigChange($event, engine.id)"
        />
      </div>
      <button
        type="button"
        class="btn btn-ghost"
        (click)="handleDelete(engine.id)"
      >
        <lucide-icon [img]="icons.Trash" />
      </button>
    </div>
    }
    <div class="flex justify-end">
      <button type="button" class="btn btn-primary" (click)="handleNewEngine()">
        <lucide-icon [img]="icons.Plus" />
      </button>
    </div>
  </div>
</form-section>
