<div class="w-full h-full flex">
  <div class="min-w-75">sidebar</div>
  <div class="w-full">
    <router-outlet />
  </div>
</div>
@if (false) {
  <p>Search Dirs</p>
  <table>
    <thead>
      <tr>
        <th>Path</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      @for (searchDir of searchDirs(); track searchDir.path) {
        <tr>
          <td>
            <file-input
              file="false"
              [value]="searchDir.path"
              (onValueChange)="handlePathChange($event, $index)"
            />
            <!-- <input
            type="text"
            class="input"
            [value]="searchDir.path"
            (change)="handlePathChange($event.target.value, $index)"
          /> -->
          </td>
          <td>
            <select
              class="select"
              [value]="searchDir.type"
              (change)="handleTypeChange($any($event.target).value, $index)"
            >
              <option value="wad">Wad</option>
              <option value="mod">Mod</option>
            </select>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <button type="button" class="btn" (click)="handleDirChange()">
    Add Search Dir
  </button>

  <p>Wads</p>
  @let selected = selectedSubDir();
  @for (subDir of subDirs(); track subDir) {
    <button
      type="button"
      class="btn"
      [ngClass]="{ 'btn-accent': subDir.path === selected }"
      (click)="selectedSubDir.set(subDir.path)"
    >
      {{ subDir }}
    </button>
  }

  @if (selectedSubDir()) {
    <p>Files</p>
    @for (wad of subdirWads(); track wad) {}
  }
}
