@let state = viewService.appState();
<div class="grow overflow-hidden">
  @switch (state) { @case (AppViewState.Home) {
  <app-home />
  } @case (AppViewState.Settings) {
  <app-settings />
  } @case (AppViewState.Engines) {
  <app-engines />
  } @case (AppViewState.Bases) {
  <app-bases />
  } }
</div>
<div class="navbar justify-between bg-base-300">
  <div class="flex gap-2">
    <button
      class="btn tooltip"
      data-tip="Home"
      [ngClass]="state === AppViewState.Home ? 'btn-primary' : 'btn-ghost'"
      (click)="viewService.appState.set(AppViewState.Home)"
    >
      <lucide-icon [img]="icons.House" />
    </button>
    <button
      class="btn tooltip"
      data-tip="Settings"
      [ngClass]="state === AppViewState.Settings ? 'btn-primary' : 'btn-ghost'"
      (click)="viewService.appState.set(AppViewState.Settings)"
    >
      <lucide-icon [img]="icons.Settings" />
    </button>
    <button
      class="btn tooltip"
      data-tip="Engines"
      [ngClass]="state === AppViewState.Engines ? 'btn-primary' : 'btn-ghost'"
      (click)="viewService.appState.set(AppViewState.Engines)"
    >
      <lucide-icon [img]="icons.Cog" />
    </button>
    <button
      class="btn tooltip"
      data-tip="Base WADs"
      [ngClass]="state === AppViewState.Bases ? 'btn-primary' : 'btn-ghost'"
      (click)="viewService.appState.set(AppViewState.Bases)"
    >
      <lucide-icon [img]="icons.Package" />
    </button>
  </div>
  <div class="flex gap-2">
    @let unsavedChanges = navbarService.unsavedChanges(); @let callbacks =
    navbarService.callbacks(); @if (callbacks.reset) {
    <button
      type="button"
      class="btn"
      [ngClass]="{
        'btn-disabled': !unsavedChanges,
      }"
      (click)="callbacks.reset.cb()"
      [disabled]="!unsavedChanges"
    >
      <lucide-icon [img]="icons.RotateCcw" /> {{ callbacks.reset.label }}
    </button>
    } @if (callbacks.delete) {
    <button type="button" class="btn btn-ghost" (click)="callbacks.delete.cb()">
      <lucide-icon [img]="icons.Trash" /> {{ callbacks.delete.label }}
    </button>
    } @if (callbacks.save) { @let saved = navbarService.saved();
    <button
      type="button"
      class="btn transition-colors"
      (click)="callbacks.save.cb()"
      [ngClass]="{ 'btn-primary': !saved, 'btn-success': saved }"
    >
      <lucide-icon [img]="saved ? icons.Check : icons.Save" />
      {{ callbacks.save.label }}
    </button>
    } @if(callbacks.edit) {
    <button type="button" class="btn btn-primary" (click)="callbacks.edit.cb()">
      <lucide-icon [img]="icons.Wrench" /> {{ callbacks.edit.label }}
    </button>
    } @if(callbacks.new) {
    <button
      type="button"
      class="btn btn-secondary"
      (click)="callbacks.new.cb()"
    >
      <lucide-icon [img]="icons.Plus" /> {{ callbacks.new.label }}
    </button>
    } @if(callbacks.launch) {
    <button
      type="button"
      class="btn btn-secondary"
      (click)="callbacks.launch.cb()"
    >
      <lucide-icon [img]="icons.Rocket" /> {{ callbacks.launch.label }}
    </button>
    }
  </div>
</div>
