<div class="relative flex flex-col items-end gap-1">
  <select class="select grow" (change)="handleAdd($event)">
    <option #placeholder disabled selected>{{ placeholderOption() }}</option>
    @for (option of availableOptions(); track option.value) {
      <option value="{{ option.value }}">{{ option.label }}</option>
    }
  </select>
  @for (value of displayValues(); track value) {
    <div class="input inline-flex items-center gap-1 px-1 grow">
      <span>{{ value }}</span>
      @if (reorder()) {
        <button
          type="button"
          class="btn btn-ghost btn-xs"
          (click)="handleReorderUp($index)"
        >
          <svg class="h-4 w-4" lucideArrowUp></svg>
        </button>
        <button
          type="button"
          class="btn btn-ghost btn-xs"
          (click)="handleReorderDown($index)"
        >
          <svg class="h-4 w-4" lucideArrowDown></svg>
        </button>
      }
      @if (removable()) {
        <button
          type="button"
          class="btn btn-ghost btn-xs"
          (click)="handleRemove($index)"
        >
          <svg class="h-4 w-4" lucideTrash></svg>
        </button>
      }
    </div>
  }
</div>
