<div class="item-grid gap-5">
  @for (item of items(); track item.name) {
  <div class="item-wrapper flex flex-col gap-2 items-center">
    <div
      class="item-content w-full relative flex-grow flex flex-col hover:bg-neutral rounded"
    >
      <button
        class="item-target relative w-full flex-grow flex flex-col items-center justify-center border-0 p-0 m-0"
        type="button"
        (click)="action.emit({item, action: 'primary'})"
      >
        @if (item.img) {
        <img class="item-image" [src]="item.img" />
        } @else {
        <div
          class="item-image-placeholder flex items-center justify-center p-2 text-shadow-3d"
          fittext
          [compressor]="1"
        >
          {{ item.name }}
        </div>
        }
      </button>
      <div class="item-controls absolute bottom-0 item-controls flex gap-1">
        @for (itemAction of item.actions; track itemAction.name) {
        <div
          [class]="{
            tooltip: !!itemAction.icon,
            'tooltip-accent': !!itemAction.icon
          }"
          [attr.data-tip]="itemAction.label"
        >
          <button
            class="btn btn-sm btn-square btn-accent"
            (click)="action.emit({item, action: itemAction.name})"
          >
            @if (itemAction.icon) {
            <lucide-icon [img]="itemAction.icon" />
            } @else {
            {{ itemAction.label }}
            }
          </button>
        </div>
        }
      </div>
    </div>
    <span class="item-label">{{ item.name }}</span>
  </div>
  }
</div>
