<form class="flex flex-wrap gap-2" [formGroup]="profileForm">
  <form-section>
    <div class="flex flex-col gap-2">
      <div class="flex flex-wrap justify-between items-center gap-2">
        <label>Name</label>
        <input
          class="input flex-grow"
          type="text"
          placeholder="Profile name"
          formControlName="name"
        />
      </div>
      <div class="flex gap-2 items-center">
        <label for="engine-select">Engine</label>
        <select
          id="engine-select"
          class="select flex-grow"
          formControlName="engine"
        >
          <option [ngValue]="''" disabled>Select engine</option>
          @for (option of engineOptions(); track option.id) {
          <option [ngValue]="option.id">{{ option.name }}</option>
          }
        </select>
      </div>
      <div class="flex gap-2 items-center">
        <label for="base-select">Base</label>
        <select
          id="base-select"
          class="select flex-grow"
          formControlName="base"
        >
          <option [ngValue]="''" disabled>Select base</option>
          @for (option of baseOptions(); track option.id) {
          <option [ngValue]="option.id">{{ option.name }}</option>
          }
        </select>
      </div>
      <file-input
        formControlName="icon"
        label="Icon"
        droppable="true"
        directory="false"
        [web]="steamGridService.apiKey() !== null"
        (webClick)="openSgdbDialog()"
        (valueChange)="handleIconChange($event)"
      />
      <img class="h-full max-w-60" [src]="profileIcon()" />
    </div>
  </form-section>
  <form-section label="Profile Resources">
    <file-list
      [values]="profileForm.controls.files.value"
      (valueChange)="handleResourcesChange($event)"
    />
  </form-section>
  <form-section label="Categories">
    <select-list
      [options]="categoryOptions()"
      [values]="profileForm.controls.categories.value"
      (valueChange)="handleCategoriesChange($event)"
    />
  </form-section>
  <form-section label="CVARs">
    <key-value-list
      key="var"
      withId="false"
      [values]="profileForm.controls.cvars.value"
      (valueChange)="handleCvarsChange($event)"
    />
  </form-section>
</form>

<!-- SteamGrid Dialog -->
<!-- TODO: Move this to its own component -->
<dialog #sgdbDialog id="steam-grid-dialog" class="modal">
  <div class="modal-box">
    @if (!selectedGame()) {
    <app-autocomplete
      labelKey="name"
      [loading]="sgdbLoading()"
      [options]="steamGridGames()"
      (query)="steamGridGameQuery($event)"
      (valueChange)="steamGridSelectGame($event)"
    />
    } @else {
    <app-autocomplete
      labelKey="id"
      orientation="horizontal"
      [loading]="sgdbLoading()"
      [options]="steamGridGrids()"
      [itemTemplate]="gridOption"
      (valueChange)="steamGridSelectGrid($event)"
    />
    <ng-template #gridOption let-option>
      <div class="flex items-center justify-center w-36 h-36 p-0 m-0">
        <img
          class="p-0 m-0 max-h-full max-w-full h-auto"
          [src]="option ? option.url : ''"
        />
      </div>
    </ng-template>
    }
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
