<form class="flex flex-wrap gap-2" [formGroup]="profileForm">
  <form-section>
    <div class="flex flex-wrap justify-between gap-2">
      <label>Name</label>
      <input
        class="input flex-grow"
        type="text"
        placeholder="Profile name"
        formControlName="name"
      />
    </div>
    <file-input
      formControlName="engine"
      label="Engine"
      droppable="true"
      directory="false"
    />
    <file-input
      formControlName="base"
      label="Base"
      droppable="true"
      directory="false"
    />
    <file-input
      formControlName="icon"
      label="Icon"
      droppable="true"
      directory="false"
      (change)="handleIconChange($event)"
    />
    <img class="h-full max-w-60" [src]="profileIcon()" />
  </form-section>
  <form-section label="Profile Resources">
    <file-list [filePaths]="profileForm.controls.files" />
  </form-section>
  <form-section label="Categories">
    <select-list
      [options]="categoryOptions()"
      [values]="profileForm.controls.categories.value"
      (change)="handleCategoriesChange($event)"
    />
  </form-section>
</form>
