<label class="input input-bordered w-full flex gap-2 items-center">
  @if (icon()) {
  <lucide-icon [img]="icon()" class="w-4 h-4" />
  }
  <input
    #queryInput
    type="text"
    class="grow"
    [autofocus]="autofocusInput()"
    [id]="inputId()"
    [placeholder]="placeholder()"
    (input)="query.emit($any($event.target).value)"
  />
  @if (loading()) {
  <span class="loading loading-dots loading-sm"></span>
  }
</label>
@if (options().length === 0 && !loading() && queryInput.value &&
queryInput.value.length > 3) {
<p class="prose text-center mt-2">No results.</p>
}
<ul
  cdkListbox
  class="menu p-0 w-full"
  [ngClass]="{ 'menu-horizontal gap-2': orientation() === 'horizontal' }"
  [cdkListboxValue]="listboxValue()"
  (cdkListboxValueChange)="value.set($event.value[0] ?? null)"
>
  @let _labelKey = labelKey(); @for (option of options(); track option.id) { @if
  (itemTemplate(); as _itemTemplate) {
  <li [cdkOption]="option">
    <ng-container
      [ngTemplateOutlet]="_itemTemplate"
      [ngTemplateOutletContext]="{ $implicit: option }"
    />
  </li>
  } @else {
  <li class="btn btn-ghost" [cdkOption]="option">
    {{ $any(option)[_labelKey] }}
  </li>
  } }
</ul>
