<form [formGroup]="form" (ngSubmit)="launch()">
  <file-input formControlName="engine" label="Engine" />
  <file-input formControlName="base" label="Base" />
  <ul>
    @for (file of form.controls.files.controls; track $index) {
    <li>
      <file-input [formControl]="file" />
      <button type="button" (click)="form.controls.files.removeAt($index)">
        X
      </button>
    </li>
    }
    <button type="button" (click)="addFile()">Add File</button>
  </ul>
  <button type="submit">Launch</button>
</form>
