<!-- @if (profileService.selectedProfile(); as selected) {
<button
  type="button"
  class="btn"
  (click)="profileService.selectedProfile.set(undefined)"
>
  Back
</button>
<profile [profile]="selected" />
} @else {
<button type="button" class="btn" (click)="newProfile()">New Profile</button>
<item-grid [items]="profileItems()" (action)="handleAction($event)" />
} -->
@if (categoryService.selectedCategory(); as selectedCategory) {
<button
  type="button"
  class="btn"
  (click)="categoryService.selectedCategory.set(undefined)"
>
  Back
</button>
<category [category]="selectedCategory" />
} @else { @for (category of categories(); track category.id) {
<button
  type="button"
  class="btn tooltip tooltip-right"
  [attr.data-tip]="category.name"
  (click)="categoryService.selectedCategory.set(category)"
>
  <img [src]="category.img" />
</button>
}
<button type="button" class="btn" (click)="newCategory()">New Category</button>
}
