<form-section label="Settings">
  <form class="min-w-[30rem]" [formGroup]="settingsForm">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Appearance</legend>
      <label class="fieldset-label" for="theme-select">Theme</label>
      <select id="theme-select" class="select" formControlName="theme">
        <option [ngValue]="null">Default</option>
        @for (theme of themeOptions; track theme[0]) {
        <option [ngValue]="theme[0]">{{ theme[1] }}</option>
        }
      </select>
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Integrations</legend>
      <label class="fieldset-label" for="steamgriddb-api-input"
        >SteamGridDB API key</label
      >
      <input
        id="steamgriddb-api-input"
        class="input"
        type="text"
        formControlName="steamGridApiKey"
      />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Arachnotron</legend>
      <label class="fieldset-label" for="arachnotron-path-input"
        >Arachnotron path</label
      >
      <file-input
        id="arachnotron-path-input"
        formControlName="importPath"
        file="false"
        directory="true"
        reorder="false"
        removable="false"
      />
      <button type="button" class="btn" (click)="startImport()">Import</button>
    </fieldset>
  </form>
</form-section>
