<form-section label="Settings">
  <form class="min-w-[30rem]" [formGroup]="settingsForm">
    <label class="form-control">
      <div class="label">
        <span class="label-text">Theme</span>
      </div>
      <select class="select select-bordered" formControlName="theme">
        <option [ngValue]="null">Default</option>
        @for (theme of themeOptions; track theme[0]) {
        <option [ngValue]="theme[0]">{{ theme[1] }}</option>
        }
      </select>
    </label>
    <label class="form-control">
      <div class="label">
        <span class="label-text">SteamGridDB API Key</span>
      </div>
      <input
        class="input input-bordered"
        type="text"
        formControlName="steamGridApiKey"
      />
    </label>
    <label class="form-control">
      <div class="label">
        <span class="label-text">Arachnotron Path</span>
      </div>
      <file-input
        formControlName="importPath"
        file="false"
        directory="true"
        reorder="false"
        removable="false"
      />
      <button type="button" class="btn" (click)="startImport()">Import</button>
    </label>
  </form>
</form-section>
